$body_color         : #000;
$primary_color      : #266AF6;
$secondary_color    : #9D9D9D;
$border_color       : rgba(0, 0, 0, .04);
$orange             : #ff8436;
$yellow             : yellow;
$green              : green;
$red                : red;
$blue               : blue;
$gray               : #757474;
$font_family        : 'Inter Tight', serif;