@import "../abstracts/variables";
body{
	&.modal-open {
		overflow: hidden;
		.modal{
			overflow-x:hidden;
			overflow-y:auto
		}
	}
	.modal{
		position:fixed;
		top:0;
		left:0;
		z-index:100050;
		display:none;
		width:100%;
		height:100%;
		overflow:hidden;
		outline:0;
		&.fade{
			.modal-dialog{
				transition:-webkit-transform .3s ease-out;
				transition:transform .3s ease-out;
				transform:translate(0,-50px);
			}
		}
		&.show {
			.modal-dialog {
				transform: none
			}
		}
		&.modal-static{
			.modal-dialog{
				transform:scale(1.02)
			}
		}
		&#thankyou {
			.modal-dialog {
				max-width: 400px;
				@media(min-width: 992px){
					max-width: 600px;
				}
				.modal_content_wr {
					max-width: 370px;
					color: $secondary_color;
					text-align: center;
					margin: 0 auto;
					padding-right: 15px;
					padding-left: 15px;
					@media(min-width: 992px){
						margin: 0 auto 50px;
					}
				}
			}
		}
		@media (prefers-reduced-motion:reduce){
			&.fade {
				.modal-dialog {
					transition:none
				}
			}
		}
		.modal-dialog{
			position:relative;
			width: calc(100vw - 30px);
			margin:.5rem auto;
			pointer-events:none;
			max-width: 400px;
			@media(min-width: 992px){
				max-width: 800px;
			}
			&.modal-dialog-centered{
				display:-ms-flexbox;
				display:flex;
				-ms-flex-align:center;
				align-items:center;
				min-height:calc(100% - 1rem);
				&::before{
					display:block;
					height:calc(100vh - 1rem);
					content:"";
				}
				@media (min-width:576px){
					margin:1.75rem auto;
					min-height:calc(100% - 3.5rem);
					&::before{
						height:calc(100vh - 3.5rem)
					}
				}
			}
			.modal-content{
				position:relative;
				display:-ms-flexbox;
				display:flex;
				-ms-flex-direction:column;
				flex-direction:column;
				padding: 0 0 16px;
				width:100%;
				pointer-events:auto;
				background-color:#fff;
				background-clip:padding-box;
				border-radius: 30px;
				outline:0;
				overflow: hidden;
				@media(min-width: 992px){
					padding: 0;
				}
				.col_right {
					overflow: auto;
					@media(min-width: 992px) {
						padding: 40px 32px;
					}
					.modal-header {
						display: -ms-flexbox;
						display: flex;
						-ms-flex-align: start;
						align-items: flex-start;
						-ms-flex-pack: justify;
						justify-content: space-between;
						border-bottom: none;
						padding: 24px 0 0;
						@media(min-width: 992px) {
							padding: 0 0 24px;
						}
					}

					.modal-body {
						position: relative;
						-ms-flex: 1 1 auto;
						flex: 1 1 auto;
						padding: 0;
						margin-top: 16px;
						@media(min-width: 992px) {
							margin-top: 0;
						}
					}
				}
				button {
					&.close {
						position: absolute;
						right: 35px;
						top: 35px;
						font-size: 0 !important;
						margin: 0;
						background: transparent !important;
						opacity: 1 !important;
						padding: 0 !important;
						color: $body_color !important;
						line-height: 24px !important;
						height: 24px !important;
						width: 24px !important;
						z-index: 1;
						> i {
							display: block;
						}
						&:before {
							content: '';
							display: block;
							width: 24px;
							height: 24px;
							transition: all ease .3s;
							opacity: 1;
							background: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 1px), rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) calc(50% + 1px), rgba(0, 0, 0, 0) 100%), linear-gradient(to top right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 1px), rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) calc(50% + 1px), rgba(0, 0, 0, 0) 100%);
						}
						&:hover{
							opacity: .5;
							&:before {
								opacity: .65;
							}
						}
					}

				}
				.modal_bg{
					min-height: 200px;
				}
			}
		}
	}
	.modal-backdrop{
		position:fixed;
		top:0;
		left:0;
		z-index:100000;
		width:100vw;
		height:100vh;
		background-color:$body_color;
		&.fade{
			opacity:0
		}
		&.show{
			opacity:.5
		}
	}
}