@import 'mixin';
/*Основная страница Блог*/
.blog {
    padding-bottom: 2rem;
    background-color: $primary-color-light;
    h1 {
        padding: 1rem 0;
    }
    
    &__item {
        position: relative;
        max-width: 100%;
        height: 21rem;
        background-color: $primary-color-text;
        padding: 1rem;
        margin-bottom: 2rem;
        img {
            max-width: 100%;
        }
        h3 {
            padding: 1rem 0;
            text-align: center;
        }
        p {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
        &:hover {
            box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .4);
            color: $primary-color-dark;
            h3 {
                color: $primary-color-dark;
            }
        }
        
    }
}

/*Отдельная статья Блог*/
.blog-item {
    background-color: $primary-color-light;
    padding-bottom: 2rem;
    &__content {
        img {
            max-width: 100%;
        }
        h1 {
            color: $primary-text-color;
            font-weight: 700;
            padding: 1rem 0;
        }
        p {
            padding-bottom: 1rem;
            text-align: justify;
        }
        ul {
            padding-bottom: 1rem;
            li {
                margin-left: 1.2rem;
            }
        }
        span {
            font-weight: 700;
        }
    }
    &__list {
        max-width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 1rem;
        h3 {
            text-align: center;
            padding: 1rem 0;
        }
        ul {
            padding-bottom: .5rem;
            li {
                list-style: none;
                padding: 1rem 0 1rem 2rem;
                border-left: 3px solid #ffffff;
                transition: all .3s ease-in-out;
                &:hover {
                    border-left: 3px solid $primary-color-dark;
                    color: $primary-color-dark;
                }
            }
        }
    }
    
}