section {
    background-color: $primary-color-light;
    margin-top: 4px;
    .list {
        padding: 2rem 0;
        &-items {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            padding: 1rem;
            background-color: #fff;
        }
        
    }
}