@import 'mixin';

.accordion-menu {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 2rem;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}
.accordion-menu li.open .dropdownlink {
    color: $primary-color;
    .fa-chevron-down {
        transform: rotate(180deg);
    }
}
.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}
.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 1rem 1rem 1rem 2rem;
    border-bottom: 1px solid $primary-color-light;
    @include title(500);
    @include linx();
    position: relative;
    transition: all 0.4s ease-out;
    
    i {
        position: absolute;
        top: 1.3rem;
        left: 1.3rem;
    }
    .fa-chevron-down {
        right: 1.2rem;
        left: auto;
    }
    
}

.submenuItems {
    display: none;
    //background: $divider-color;
    li {
        border-bottom: 1px solid $primary-color-light;
    }
    a {
        display: block;
        color: $secondary-text-color;
        padding: .5rem 1rem .5rem 3rem;
        transition: all 0.4s;
        &:hover {
            //background-color: $accent-color;
            color: $accent-color;
            border-left: 3px solid $accent-color;
        }
    }
}
  
