@import 'mixin';
.how-give {
    padding: 3rem;
    .how-give-item {
        margin-bottom: 5%;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__content {
        text-align: justify;
        span {
            @include title(300, 4rem, $primary-color-dark);
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        align-content: center;
        img {
            max-width: 100%;
            height: 25rem;
            box-shadow: 0 10px 4px -4px rgba(0, 0, 0, .2);
        }
    }
    
}

